$primary-font:"Chonburi",
serif;
$secondary-font: "Instrument Serif",
serif;
$text-font: "Playfair Display",
serif;
$backgroundGradient: linear-gradient(to top, #0236fb, #005cff, #0079ff, #2c92ff, #62aafc);