* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: "Playfair Display", serif;
  background: radial-gradient(circle at center, #0236fb, #005cff, #0079ff, #2c92ff);
}