@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


$fontPrimary:"Chonburi",
serif; // Primary font for the application
$fontSecondary: "Instrument Serif",
serif; // Secondary font for fallback
$fontText: "Playfair Display",
serif;
$borderColor: #005cff;
// Default border color used in various components
$textColor: rgb(0, 0, 0); // Default text color for readability
$backgroundGradient: linear-gradient(to top, #0236fb, #005cff, #0079ff, #2c92ff, #62aafc);

.btn {
    background-color: white;
    padding: 1%;
    border: 1px solid $borderColor;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgb(216, 216, 216);
    }
}